In [14]:
print('Hi!!!\n welcome, user')      # we use \n to make the following text at the next line, not next to the previous text 
#notice that the way to distinguish 2 print()  commands from a single command used \n in it is that 
# the \'n leaves a space between the 2 texts
print('Hi!!')
print('welcome, user')

Hi!!!
 welcome, user
Hi!!
welcome, user

In [1]:
print("My name is ", end="")      # the end="" is used to make the following text at the same line, not at the next line
print("Monty Python.")

My name is Monty Python.

In [4]:
print("My", "name", "is", "Monty", "Python.", sep="-")   # the sep="-" is used to make the following text separated by "-", not by space

My-name-is-Monty-Python.

In [2]:
print("My", "name", "is", sep="_" , end="*" )    # the sep="_" is used to make the following text separated by "_", not by space and the end="*" is used to make the following text at the same line, not at the next lin)    # the sep="_" is used to make the following text separated by "_", not by space and the end="*" is used to make the following text at the same line, not at the next line
print("Monty", "Python.", sep="*", end="*\n")  # the end="*\n" is used to make the following text at the next line, not next to the previous text, and the sep="*" is used to make the following text separated by "*", not by space
# I recommend removing an argument at a time and see how the output changes everythime

My_name_is*Monty*Python.*

In [5]:
print( "2+3=", 2+3)  # notice that the 2+3 is not a string, so it will be calculated and the result will be printed
#meanwhile, this is when you replace the , with +, the output will be an error, because the + is used to concatenate strings, not to calculate numbers
###print( "2+3=" + 2+3)  # notice that the 2+3 is not a string, so it will be calculated and the result will be printed
#when you come up to this cell run the 1st one and make the 2nd as a comment, then when you wanna run the 2nd command make the 1st a comment.

2+3= 5

In [6]:
print('c:\\ a directory here')  #this to remind you that when you write a directory inside the print() cpmmand you should write a doublew forward slash \\ not a single one.

c:\ a directory here

In [11]:
print('\t') #the \t is used to make a tab space
print("my name is nabaa \t and I'm 20 years old")
print("my name is nabaa and I'm 20 years old")
#notice the difference here

my name is nabaa 	 and I'm 20 years old
my name is nabaa and I'm 20 years old

In [17]:
print(R"c:\\") #the R is used to make the following text as it is, without any changes, so the \ will be printed as it is, not as a command
#notice now that the \\ is shown here
print(r"c:\\")   #the R and r do the same thing, keep it in record

c:\\
c:\\

In [24]:
print("\"Hello")  
print("\'Hello'")
print("'Hello'")
print('\"hello"')
#the point of this cell is to notice how the \" and \' neglect the effect of single and double quotes.

"Hello
'Hello'
'Hello'
"hello"

In [6]:
# to print a text and multiply it by a number, we use the * sign
print(5* "+----------+\n")
print("########################")
print('+'+10*'-'+'+\n')            #this is for 1 line
print(('+'+10*'-'+'+\n')*5)        #this is for 5 lines
print("########################")
#we can also use variables to make the code more readable
a = 10
b = 5
print('+' +10* '-' + '+\n')       #again, this is for 1 line
print(('+' +10* '-' + '+\n')*5)   #again, this is for 5 lines

+----------+
+----------+
+----------+
+----------+
+----------+

########################
+----------+

+----------+
+----------+
+----------+
+----------+
+----------+

########################
+----------+

+----------+
+----------+
+----------+
+----------+
+----------+

In [9]:
print(int(input("Enter a number: ")) + int(input("Enter another number: ")))  #this is to add 2 numbers
#the same method goes on for the other operations

60

In [22]:
a = 25
b = 15
print('a=' , a)
print('b=' , b)
print('a+b=' , a+b)
print('###################')
print(f"{a} + {b} = {a+b}")
#Difference between the 2 methods is that the 1st one is more readable, but the 2nd one is more flexible, because you can add more than 2 variables in the same print() command
#Try to do examples on your own using the f' method in the print() command

#or it can be done using the .format() as such
print('###################')
print("{0} + {1} = {2}".format(a,b,a+b))

a= 25
b= 15
a+b= 40
###################
25 + 15 = 40
###################
25 + 15 = 40

In [27]:
#Introducing the type() command and all the data types
k="Ahmed"
print(type(k))

o=2.2
print(type(o))

p= True
print(type(p))

d= 3
print(type(d))

z= 3+5j
print(type(z))

<class 'str'>
<class 'float'>
<class 'bool'>
<class 'int'>
<class 'complex'>

In [33]:
print(0b1100)   #adding 0b before the number makes it a binary number
print(0o12)     #adding 0o before the number makes it an octal number
print(0xc)      #adding 0x before the number makes it a hexadecimal number
print(0b1100 + 0o12 + 0xc)   #this is to show that the 3 numbers are the same

12
10
12
34

In [35]:
#know that to check inside the print() command you could use is
print(2+3==5)   #this is to check if 2+3 is equal to 5 or not, and the output will be True
print(2+3 is 6) #this is to check if 2+3 is 6 or not, and the output will be False or True

True
False

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\HP\AppData\Local\Temp\ipykernel_13216\2841592373.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(2+3 is 6) #this is to check if 2+3 is 6 or not, and the output will be False or True

In [38]:
#for complex number to get the real part use .real and to get the imaginary part use .imag
z = 3+5j
print(z.real)
print(z.imag)
print(z.conjugate())    #this is to get the conjugate of the complex number

3.0
5.0
(3-5j)

In [40]:
txt = "Hello, welcome to my world."
print(txt[1::])    #means start from index 1 and go to the end
print(txt[0::])     #means start from index 0 and go to the end, in other words: the whole text 
print(txt[-1::])   #means start from the last index and go to the end, in other words: the last letter
print(txt[-2::])   #means start from the second last index and go to the end, in other words: the last two letters
print(txt[0:5:])   #means start from index 0 and go to index 5, in other words: the first 5 letters


print(txt[::1])    #means start from the first index and go to the end, in other words: the whole text
print(txt[::2])    #means start from the first index and go to the end, in other words: the whole text but every second letter

#you can also use negative numbers to start from the end
print(txt[::-1])   #means start from the last index and go to the end, in other words: the whole text but in reverse
print(txt[::-2])   #means start from the last index and go to the end, in other words: the whole text but in reverse and every second letter

#now you can imagine how can slicing works, I recommend you to try it on your own with different numbers and different texts

ello, welcome to my world.
Hello, welcome to my world.
.
d.
Hello
Hello, welcome to my world.
Hlo ecm om ol.
.dlrow ym ot emoclew ,olleH
.lo mo mce olH

In [42]:
#strings can be multiplied

x = 'My Name is '
y = input('please put your name here: ')
z = ' Mostafa '
print(x + y + 2*z)

My Name is Nabaa Naguib Mostafa  Mostafa

In [44]:
pi=3.14
R= eval(input("Enter the Radius "))
circ=(2*pi*R)
print("the circumfrance of the cricle is ", circ)
print('######################################')
pi=3.14
R=input("Enter the Radius ")
circ=(2*pi*int(R))
print("the circumfrance of the cricle is ", int(circ))
#this is called type casting, which means changing the type of the variable from one type to another

the circumfrance of the cricle is  31.400000000000002
######################################
the circumfrance of the cricle is  31

In [46]:
print(3^2)
#not the correct way to get the square of a number

print(3**2)
#the correct way to get the square of a number

1
9

In [48]:
A=2
B=3
z=3
B=A
A=z
print(B, A)
#this is not the correct way to swap values 
print('#####################################')
x=2
y=3
z=x
x=y
y=z
print(x)
print(y)
#this is the correect way to swap values of two variables
#in other words, you don't assign a value to the new variable, but if fact assign it to 1 of your variables that you're trying to swap values of.

2 3
#####################################
3
2

In [50]:
#identifying in 1 line 
x=2 ; y=1
print(x)
print(y)
print('#####################################')
N=str(input("Enter your name\n"))
q=N.upper()           #using upper and lower
a=N.lower()
print(N)
print(q)
print(a)

2
1
#####################################
nAbAa
NABAA
nabaa

In [55]:
# eval() function
x=eval(input("Enter a number: "))
E=eval(input('enter an equation here: '))
z=eval(input("Enter a boolean"))
#y=eval(input("Enter a text: "))
print(x)
print(E)
print(z)
#print(y)
print(type(x))
print(type(E))
print(type(z))
#print(type(y))
#eval() function with texts needs to be written between "" or '' and it goes like this
eval("text")

NameError: name 'g' is not defined

In [56]:
#eval() function with texts needs to be written between "" or '' and it goes like this
eval("text")

NameError: name 'text' is not defined

In [71]:
# ord() function
print(ord('3'))  #the arguments of the ord() function is a single character, and it returns the ASCII value of that character

#it can be generalized as follows
x = input("Enter a character: ")
print(x)
print(ord(x))
#But the issue is that ord() only accepts 1 character, so if you enter more than 1 character it will give you an error

#so to solve this issue we use the following method
y = input("Enter a character: ")
print(y)
print(ord(y[0]))  #notice that we used y[0] to get the first character of the string y

#chr() function
print(chr(65))  #the arguments of the chr() function is a single number, and it returns the character of that ASCII value

#it can be generalized as follows
x = eval(input("Enter a number: "))
print(x)
print(chr(x))

#But to get the ASCII of all the chararcter we introduce the loops, as follows
for i in range(5):
    print(i, chr(i))

word = input("Enter a word: ")
for i in range(len(word)):
    print(i, word[i])

51
n
110
nabaa
110
A
7

0  
1 
2 
3 
4 
0 n
1 a
2 b
3 a
4 a

In [70]:
#But to get the ASCII of all the chararcter we introduce the loops, as follows
for i in range(5):
    print(i, chr(i))


#we can also use the following method    
word = input("Enter a word: ")
for i in range(len(word)):
    print(i, word[i] , ord(word[i]))

#I recommend trying loops with \n , \t and \r to practice what we studied and apply it here

0  
1 
2 
3 
4 
0 N 78
1 a 97
2 b 98
3 a 97
4 a 97

In [73]:
#to make a new list copy of a list that already exists
list15 = [1,2,3,4]
list16 = list15.copy()
print(list15)
print(list16)
#copy is called a shallow copy, because the new list won't be affected by changes that happen in the original list
list15.append(5)
print(list15)
print(list16)
#if we don't want to make a shallow copy we do this
list17 = list15
print(list15)
print(list17)
list15.append(6)
print(list15)
print(list17)
#notice that the changes that happen in the original list will now affect the new list

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [74]:
Tuple1 = ("Nabaa" , "Oamr")
Tuple2 = "Sanaa" , "Naguib"
print(Tuple1)
print(Tuple2)
print(type(Tuple1))
print(type(Tuple2))

('Nabaa', 'Oamr')
('Sanaa', 'Naguib')
<class 'tuple'>
<class 'tuple'>

In [75]:
#Tuples are immutable = can't add or change or delete any value within the tuple
Tuple4 = (9 , 8 ,7 , 6 , 5)
Tuple4[4] = "Five"
print(Tuple4)

TypeError: 'tuple' object does not support item assignment

In [77]:
#how to write a tuple with one value only
Tuple5 = (5, )
Tuple6 = 5 ,
print(Tuple5)
print(Tuple6)
print(type(Tuple5))
print(type(Tuple6))

(5,)
(5,)
<class 'tuple'>
<class 'tuple'>

In [98]:
x = ['Nabaa' , 3 , 5.5 , True]
y = ['nabaa' , 'ali' , 'mostafa']
c = 0
for i in y:
    for char in i:
        print(char , end=" ")
        c+=1
    print (c)
    print(i.__class__)   #this is to know the type of each element in the list
    print(type(i))       #this is another way to od it 
    c = 0
    print(len(i))        #another way to calculate the number of characters in each element in the list without any loops


#keep in mind that this works for the list y because it composes of strings, but if it was a list of numbers as well like list x it won't work
#try removing the print(len(i)) and see the output

n a b a a 5
<class 'str'>
<class 'str'>
5
a l i 3
<class 'str'>
<class 'str'>
3
m o s t a f a 7
<class 'str'>
<class 'str'>
7

In [99]:
x = [ "apple", "banana", "cherry"]
for i in x:
    print(i)
    if i == "banana":
        break

#this means we can use break to stop the loop when a certain condition is met

apple
banana

In [100]:
for i in range (10):
    print(i , end=" ")

0 1 2 3 4 5 6 7 8 9

In [138]:
x = ['ali' , 'nabaa' , 'mostafa']
for i in range(-len(x) , 0):
    #to get the values in reverse order
    print(f'x[{i}] = {x[i]}')

x[-3] = ali
x[-2] = nabaa
x[-1] = mostafa

In [140]:
#Tuples are immutable = can't add or change or delete any value within the tuple
Tuple4 = (9 , 8 ,7 , 6 , 5)
#Tuple4[4] = "Five"
#print(Tuple4)

#to trick the system and change the value of a tuple, we do the following
Tuple4 = list(Tuple4)
Tuple4[4] = "Five"
Tuple4 = tuple(Tuple4)
print(Tuple4)

(9, 8, 7, 6, 'Five')

In [149]:
#to know how many times a value was repeated
tuple1 = (1,4,6,9,3,9,2,1,9,10)
print(tuple1.count(9))

#To know the index of a value in a tuple
tuple2 = (1,4,6,9,3,9,2,1,9,10,11,14,2,9)
print(tuple1.index(9))
print("The position of index is {:.2f}" .format(tuple1.index(9)))
print(f"The position of index is {tuple1.index(9)}")

tuple1_new =tuple1 *3
print(tuple1_new)

#keep in mind that this is wrong, this is an operation applied on an integer.
for i in tuple1:
    print(i*2)

3
3
The position of index is 3.00
The position of index is 3
(1, 4, 6, 9, 3, 9, 2, 1, 9, 10, 1, 4, 6, 9, 3, 9, 2, 1, 9, 10, 1, 4, 6, 9, 3, 9, 2, 1, 9, 10)
2
8
12
18
6
18
4
2
18
20

In [157]:
tuple3 = ( 'Ahmed' , 'Ali' , 'medhat' , 'hend' , 'nour')
for i in tuple3:
    #to get the values that don't have the letter a, we do this
    if ('a' not in i and 'A' not in i):
        print(i)

hend
nour

In [174]:
tuple3 = ( 'Ahmed' , 'Ali' , 'medhat' , 'hend' , 'nour')
#to write it again but in one line, we do this
print([i for i in tuple3 if ('a' not in i and 'A' not in i)])

['hend', 'nour']

In [184]:
# to transfor a range in a list we do this
y = list(range(10))
print(y)

x =range(-10 , 10 , 2)
print(x)
print(type(x))
#how to get rid of this isuue?
print(list(x))
print(type(list(x)))
#it is a sequence of data, ask yourself what is the data type of this sequence? how can a sequence of data be represented or shown?
#this is why the way to represent this range is to give it a data type then show it
#can we turn it into a tuple? let's see
print(tuple(x))
print(type(tuple(x)))
#the data type of the range is range, but it can be represented as a list or a tuple or a set or a dictionary
#can a range be represented as a range? let's see
#print(range(x))
#run the previous command and check the output, it will give you an error, because a range can't be represented as a range, it can be represented as a list or a tuple or a set or a dictionary

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(-10, 10, 2)
<class 'range'>
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]
<class 'list'>
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)
<class 'tuple'>

TypeError: 'range' object cannot be interpreted as an integer

In [186]:
#boolean values
a = ""
b = ( )
c = [ ]
d = { }
print(bool(a))
print(bool(b))
print(bool(c))
print(bool(d))
#but notice that:
e = " "
f = [""]
print(bool(e))
print(bool(f))

False
False
False
False
True
True

In [191]:
# adding a * before a variable when assigning a value to it means that the variable will be a list
a,b,c,*d = 1,2,3,4,5
print(a,b,c,d)
print(a)
print(b)
print(c)
print(d)
print(type(d))
# the * can be put before any variable
#try it yourself

1 2 3 [4, 5]
1
2
3
[4, 5]
<class 'list'>

In [192]:
x = 2**3**2
print(x)
#this means (2 power of (3 power of 2)

512

In [194]:
#eval() function
x = eval(input("Enter a number: "))
print(x)
print(type(x))
y = eval(input("Enter a text: "))
print(y)
print(type(y))

30
<class 'int'>

NameError: name 'nabaa' is not defined

In [201]:
x = input('enter 1st no.: ')
y = input('enter 2nd no.: ')
c = input('enter operation as follows (+,-,*,/): ')
if c == '+':
    print(int(x)+int(y))
elif c == '-':
    print(int(x)-int(y))
elif c == '*':
    print(int(x)*int(y))
elif c == '/':
    print(int(x)/int(y))
else:
    print('invalid operation')

10
[10]

In [211]:
#a more simpler way is this:
x = input('enter 1st no.: ')
y = input('enter 2nd no.: ')
c = input('enter operation as follows (+,-,*,/): ')
print(eval(f"{x}{c}{y}"))

20

In [216]:
x = input('Enter your grade:')
if int(x) >= 90:
    print('your grade is: A')
elif int(x) >= 80:
    print('your grade is: B')
elif int(x) >= 70:
    print('your grade is: C')
elif int(x) >= 60:
    print('your grade is: D')
else:
    print('your grade is: F')
#Try doing it in one print() command

your grade is: A

In [215]:
#this is how in 1 command
x = input('Enter your grade:')
print('your grade is: ' + ('A' if int(x) >= 90 else 'B' if int(x) >= 80 else 'C' if int(x) >= 70 else 'D' if int(x) >= 60 else 'F'))

your grade is: C

In [220]:
#and this is how to do it using a dictionary
x = input('Enter your grade:')

KeyError: '7'