In [1]:
import pandas as pd

In [2]:
data = pd.Series([0.5,0.25,0.75,1])
data

0    0.50
1    0.25
2    0.75
3    1.00
dtype: float64

In [4]:
import numpy as np 
data2 = np.array([0.5,0.25,0.75,1])
print(data2)

#notice the difference between the same data represented once in series data frame and once as a numpy array
#for the series data frame, the index is shown on the left side.

array([0.5 , 0.25, 0.75, 1.  ])

In [10]:
print(data.values)
print(type(data))
print(type(data.values))
print(data.index)
print("_"*50)
#indexing and slicing also works here for the series dataframes
print(data[0])
print(data[1:3])

[0.5  0.25 0.75 1.  ]
<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>
RangeIndex(start=0, stop=4, step=1)
__________________________________________________
0.5
1    0.25
2    0.75
dtype: float64

In [16]:
data = pd.Series([0.5,0.25,0.75,1] , index = ['a','b','c','d'])
print(data)
#if we input index = that is not the same number as the data?
#lets see
#data = pd.Series([0.5,0.25,0.75,1] , index = ['a','b','c'])       ###,'e'])
#print(data)

a    0.50
b    0.25
c    0.75
d    1.00
dtype: float64

In [20]:
#datas as dictionary:
data3 = {'a':1 , 'b':2}
print(data3['b'])                    #reminder that the key is the index (we access the value through the key)

#now back to the data dataframe:
print(data['b'])                     #this is the same as data.b
print(data.b)                        
#indexing a series dataframe can be assigned to anything you want literally.

2
0.25
0.25

In [22]:
pop_dict = {"california":123456 , "texas": 234567, "florida": 345678, "new york": 456789, "pennsylvania": 567890}

pop_dict

{'california': 123456,
 'texas': 234567,
 'florida': 345678,
 'new york': 456789,
 'pennsylvania': 567890}

In [24]:
population = pd.Series(pop_dict)
population

california      123456
texas           234567
florida         345678
new york        456789
pennsylvania    567890
dtype: int64

In [27]:
print(population["california" : 'new york'])     #notice that it includes new york, that is becuase we are not using implicit indexing, we are using explicit indexing. (we set the indexing ourselves).
print("_"*50)
print(population[0:3])                           #notice that it does not include 3, that is becuase we are using implicit indexing, we are not using explicit indexing.

california    123456
texas         234567
florida       345678
new york      456789
dtype: int64
__________________________________________________
california    123456
texas         234567
florida       345678
dtype: int64

In [29]:
pd.Series(5 , index = [100,200,300])      #if the index argument is more than the data argument, the data is repeated

100    5
200    5
300    5
dtype: int64

In [30]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [31]:
pd.Series({2:'a', 1:'b', 3:'c'} , index=[1,2])
#if the index argument is less than the number of data. it will show the index argument only. (i specified the index as 1 and 2 but the data is 3. so it only shows 1 and 2).

1    b
2    a
dtype: object

In [32]:
area_dict = {"california":12 , "texas": 23, "florida": 34, "new york": 45, "pennsylvania": 56}
area = pd.Series(area_dict)

In [33]:
area

california      12
texas           23
florida         34
new york        45
pennsylvania    56
dtype: int64

In [34]:
population

california      123456
texas           234567
florida         345678
new york        456789
pennsylvania    567890
dtype: int64

In [35]:
#now combine 2 series into a dataframe:
states = pd.DataFrame({'population': population, 'area': area})     #key is the name of the column, value is the series itself.
states

              population  area
california        123456    12
texas             234567    23
florida           345678    34
new york          456789    45
pennsylvania      567890    56

In [40]:
print(states.index)
print(states.columns)
print("_"*50)
print(states['area'])
print("_"*50)
#what if we want to get just one value of a column?
print(states['area']['california'])

Index(['california', 'texas', 'florida', 'new york', 'pennsylvania'], dtype='object')
Index(['population', 'area'], dtype='object')
__________________________________________________
california      12
texas           23
florida         34
new york        45
pennsylvania    56
Name: area, dtype: int64
__________________________________________________
12

In [41]:
#you an assign the 1D arrays to a dataframe not necessarily a series
pd.DataFrame(population,columns=['population'])

              population
california        123456
texas             234567
florida           345678
new york          456789
pennsylvania      567890

In [45]:
#creating a random dataframe:
pd.DataFrame(np.random.randn(3,2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  1.200436  0.618558
b  0.435722 -0.540291
c -0.020658 -2.022190

In [46]:
"los angeles" in area
#notice you can use "in" to check if a string or index or value whtever you wanna call it is in a list.

False

In [48]:
#i can add a value to a series
data['e'] = 1.25
data

a    0.50
b    0.25
c    0.75
d    1.00
e    1.25
dtype: float64

In [50]:
data[["a" , "e"]]    #this is when we want to select very specific columns, we use double square brackets (in numpy it was called fancy indexing).

a    0.50
e    1.25
dtype: float64

In [52]:
data[(data>0.3) & (data<0.8)]      #we can use conditions to filter data.

a    0.50
c    0.75
dtype: float64

In [53]:
#if index argument is integer:
data4 = pd.Series(["a","b","c","d"] , index = [3,5,10,20])
data4

3     a
5     b
10    c
20    d
dtype: object

In [54]:
data4[3]

'a'

In [60]:
#the explicit and implicit indexing can be more clear with the loc and iloc methods:
print(data4.loc[3])
print(data4.iloc[3])    #iloc for index location which is the implicit indexing

a
d

In [66]:
#assign the column name "population" to change to "pop" in the states dataframe:
states.rename(columns={'population':'pop'}, inplace=True)
states

                 pop  area       density
california    123456    12  10288.000000
texas         234567    23  10198.565217
florida       345678    34  10167.000000
new york      456789    45  10150.866667
pennsylvania  567890    56  10140.892857

In [67]:
states['pop']                                        #avoid using spaces in naming the column becasue you will not be able to use states.pop name     meanwhile you will be able to only use states['pop name']
states.pop is states['pop']                          #this is not the same as states.pop() which is a method

False

In [68]:
#inserting a new column to a dataframe:
states.rename(columns={'pop':'population'}, inplace=True)           #the inplace=True is to make the change permanent.
states['density'] = states['population'] / states['area']
states

              population  area       density
california        123456    12  10288.000000
texas             234567    23  10198.565217
florida           345678    34  10167.000000
new york          456789    45  10150.866667
pennsylvania      567890    56  10140.892857

In [73]:
#slicing the data frame using loc and iloc
print(states.iloc[0, 0])
print(states.iloc[0, 1])
print(states.iloc[:, :3])
print("_"*100)
print(states.loc[:, ["area", "population"]])
print(states.loc[:, ["area"]])

123456
12
              population  area       density
california        123456    12  10288.000000
texas             234567    23  10198.565217
florida           345678    34  10167.000000
new york          456789    45  10150.866667
pennsylvania      567890    56  10140.892857
____________________________________________________________________________________________________
              area  population
california      12      123456
texas           23      234567
florida         34      345678
new york        45      456789
pennsylvania    56      567890
              area
california      12
texas           23
florida         34
new york        45
pennsylvania    56

In [74]:
#we can use universal functions of numpy to perform operations on dataframes:
np.sin(states * np.pi / 180)

              population      area   density
california     -0.406737  0.207912 -0.469472
texas          -0.453990  0.390731  0.878273
florida         0.978148  0.559193  0.998630
new york       -0.777146  0.707107  0.944758
pennsylvania    0.173648  0.829038  0.873712

In [76]:
pop_dict = {"los angelos":12345 ,"california":123456 , "texas": 234567, "florida": 345678, "new york": 456789, "pennsylvania": 567890}
area_dict = {"california":12 , "texas": 23, "florida": 34, "new york": 45, "pennsylvania": 56 , "ohio": 67}
states2 = pd.DataFrame({"population":pop_dict, "area":area_dict})
states2
#if we combine 2 dictionaries with different keys, the result will be a dataframe with the union of the keys but NaN values for missing data.

              population  area
los angelos      12345.0   NaN
california      123456.0  12.0
texas           234567.0  23.0
florida         345678.0  34.0
new york        456789.0  45.0
pennsylvania    567890.0  56.0
ohio                 NaN  67.0

In [81]:
#states2.add( , fill_value=0)


#parameters are learned by the model, hyperparameters are set by the modeler.
#hyperparameters are set before the model is trained.